<!DOCTYPE html>
<head>
    <title>Home</title>
</head>
<body>
    <p>CHAO MUNG DEN VOI THE GIOI AM NHAC</p>
    <a href="/vnmap">BAN DO AM NHAC 3D VIET NAM</a>
    <br>
    <a href="/gallery">PHONG TRUNG BAY</a>
    <br>
    <a href="/music_world">THE GIOI NHAC CU</a>
    <br>
    <a href="/learning">GOC HOC TAP</a>
    <br>
    <a href="/thesis">LUAN VAN NGHIEN CUU</a>
    <br>
    <a href="/testdb">DATABASE TESTING</a>
    <br>
    <a href="/library">library</a>
    <br>
    <a href="/quiz">Quiz</a>
    <br>
</body>